{# cards.twig #}
{% extends "../layout.twig" %}

{% block cards %}
    <div class="container container-flex">
        {% for xyu in content %}
            {% include 'card.twig' with {'xyu': 'object'} %}
        {% endfor %}
    </div>
{% endblock %}

