{# cards.twig #}
{% extends "../layout.twig" %}

{% block cards %}
    <div class="container container-flex">
        {% for object in content %}
            {% include 'card.twig' %}
        {% endfor %}
    </div>
{% endblock %}
