.card {
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}
.card-size {
  width: 400px;
}
.card_title {
  background-color: #dcdcdc;
  font-size: 12px;
}
.card_element-padding {
  padding: 5px 10px;
}
.card_img {
  overflow: hidden;
  height: 300px;
}

.card_autor-wrapper {
  @extend .container-flex;
  justify-content: space-between;
  align-items: flex-end;
}
.card_autor {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
.card_link_autor {
  color: #00F;
}
.card_icon {
  font-size: 20px;
}
.card_img {
  position: relative;
}
